/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs
/storage/logs
storage/logs/laravel.log
.idea/workspace.xml
/.idea
/.idea
/storage
/.idea
